
@model BookStore.WebUI.Models.BookListViewModel
@{
    ViewBag.Title = "List";
}

<h2>Book List</h2>
@foreach (var b in Model.Books)
{
    @Html.Partial("BookSummary",b)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.paginginfo,x=>Url.Action("List","Book",new { pageno=x,specialization=Model.CurrentSpecialization}))
</div>

